// @import '~bootstrap/scss/bootstrap.scss';

@import '~materialize-css/sass/materialize.scss';
@import '_variables.scss';


body {
    font-family: 'quicksand_lightregular';
    color:white;
}

.modal-trigger {
    margin:20px auto;
    display:block;
}
#modal1 {
    color:darkblue;
}

img {
    display:block;
    margin:auto;
}






